version: 2.1

jobs:
  build: 
    docker:
      - image: circleci/node:13.8.0 
    steps:
      - checkout
      - run: npm i
  test:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run: npm i
      - run: npm run test
      - run: npm run lint
  analyse:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run: npm audit

workflows:
  orb-free-workflow:
    jobs:
      - build
      - test:
          requires:
           - build
      - analyse:
          requires:
            - test


